@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%; /* Garante que html e body ocupem 100% da altura */
  margin: 0; /* Remove margens padrão */
}

body {
  background-image: url(./images/stars.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.logo {
  width: 20%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 30px;
}
