@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.divMain {
  background-image: url(./images/stars.jpg);
  width: 100vw;
  height: 100vh;
}

.logo {
  width: 20%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

body {
  color: white;
}
